
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.Python
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage*
htmlcov/
dist/
build/
*.egg-info/
.eggs/
.ipynb_checkpoints/

# Ambientes e ferramentas
.env
.env.*
.venv/
venv/
.idea/
.vscode/
.DS_Store
Thumbs.db

# Logs e temporários
*.log
*.tmp
*.swp
*.swo

# VEC
results/
summary/
log/
output/

# PLOTS

plots/teste/
plots/geral/
plots/otimizacao/